html {
  background: url(../img/bg_laptop_blurred.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
	font-family: Sansation, sans-serif;
	font-size: 120px;
	color: white;
	text-align: center;
	margin-top: 15%;
}

.subtitle {
	font-family: Sansation, sans-serif;
	font-size: 72px;
	color: white;
	text-align: center;
}

.divider {
	width: 150px;
	height: 5px;
	background-color: white;
	margin: 25px auto;
}

.info-wrapper {
	position: absolute;
    bottom: 0;
    right: 0;
	left: 0;
	margin: auto;
	padding: 25px 0;
	background: rgba(0,0,0,0.5);
}

.info {
	text-align: center;
}

.info-item {
	display: inline-block;
    vertical-align: top;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 22px;
}

.info-item a {
	color: white;
	text-decoration: none;
}

.info-item a:hover,
.info-item a:focus {
	text-decoration: underline;
}

.info-item:not(:first-child):before {
    content: "/";
    margin: 0 5px;
	color: white;
}

/* Mobile Styles */
@media (max-width: 600px) {
	.title {
		font-size: 72px;
	}

	.subtitle {
		font-size: 48px;
	}

	.info-item {
		font-size: 18px;
	}

	.info-wrapper {
		padding: 20px 0;
	}
}

/* Super-small mobile styles */
@media (max-width: 350px) {
	.title {
		font-size: 48px;
	}

	.subtitle {
		font-size: 32px;
	}

	.info-item {
		font-size: 18px;
		display: block;
		margin: 7px;
	}

	.info-wrapper {
		padding: 5px 0;
	}

	.info-item:not(:first-child):before {
		content: none;
	}
}